/*
    Owner: battleoverflow (https://github.com/battleoverflow)
    Project: vsioc (https://github.com/battleoverflow/vsioc)
    License: GPL v3
*/

body,
html {
    background-color: transparent;
}

section {
    overflow-wrap: break-word;
}
